@import url(http://fonts.useso.com/css?family=Source+Sans+Pro:200,300);


*{
  margin: 0;
  padding: 0;
  background-color:#53e3a6; 
}
.none{
  display: block;
  width: 100%;
  height: 70px;
}
.header{
  position:fixed; 
  z-index:999; 
  top:0;
  display: block;
  width: 100%;
  height: 70px;
  /*background: rgb(26,26,26);*/
  background: #53e3a6;
  float: middle;
}
.title{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 44%;
  margin-right: 0px;
  position:fixed; 
  font-size: 36;
  color: white;
  top:0;
  display: block;
  width: 14%;
  height: 50px;
  /*background: rgb(26,26,26);*/
  background: #53e3a6;
  float: middle;
}
.pics ul{
  height: 500px;
  width: 100%;
}
.pics li{
  margin-right: 11px;
  margin-left: 10px;
  width: 260px;
  height: 100%;
  float: left;
  
}
.buttons{
  float: left;
  display: block;
  height: 100%;
  width: 60%;
  text-align:center;
}
.buttons ul{
  list-style: none;
}
.buttons li{
  float: left;
  width: 130px;
  height: 45px;
  font-size: 20;
  margin-top: 25px;
}
.info{
  margin-left: 25%;
  float: left;
  width:50%;
  height: 1500px;
  background-color: black;
}
.bt1{
  width: 250px;
  height: 45px;
  margin-left: 20px;
  background-color: white;
  color: #53e3a6;
}
.bt2{
  width: 250px;
  height: 45px;
  margin-left: 20px;
  background-color: gray;
  color: rgba(255,0,0,1);
}
a{
  font-size: 20;
  text-decoration:none;
}
a.aa{
  color: rgb(129,129,129);
}
img.move{
  width: 100%;
}
img.img1{
  float: left;
}
form {
  padding: 20px 0;
  
}

.contant{
  width: 100%;
  height: 100px;
}
.contant .tips{
  margin-top: 45px;
  margin-left:30px;
  font-size:20;
  width: 120px;
  height: 40px;
  color: white;
  float: left;
  left: 80px;
  text-align: right;
}

.contant input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  left:100px;
  margin: 40px 0px 10px 20px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
  float: left;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  
  border: 0;
  padding: 10px 15px;
  margin-top: 40px;
  margin-left: 0px;
  
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}