.bill{
	margin-right: 25%;
	margin-left: 25%;
    width: 50%;
	float: left;
}
.bill table td{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
button.sendbill {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: 45%;
    background-color: rgb(171,171,171);
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 10%;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
button.sendbill:hover {
  background-color: rgb(0, 120, 215);
}