select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgb(150,150,150);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    left: 100px;
    margin: 40px 0px 10px 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    float: left;
}
option p{
    text-align: center;
}
