<style>
.container{
	width: 100%;
	height: 600px;
}
.centerpart{
	width: 100%;
	float: left;
}
.outenterbuttons{
	width: 100%;
	height: 100px;
	border-top: 3px solid rgba(0,0,0,1);
	border-top-width: 1px;
	border-top-style: solid;
}
.partname{
	width: 10%;
	float: left;	
	text-align: 
	center;color: 
	black;font-size: 25;
	font-weight: 100px;
	padding: 1.25em 0;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.parttype{
	width: 10%;
	float: left;	
	text-align: center;
	padding: 1.25em 0;
	color: black;
	font-size: 25;
	font-weight: 100px;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.partprice{
	width: 10%;
	float: left;	
	text-align: center;
	padding: 1.25em 0;
	color: black;
	font-size: 25;
	font-weight: 100px;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.remainpart{
	width: 10%;
	float: left;	
	text-align: center;
	padding: 1.25em 0;
	color: black;
	font-size: 25;
	font-weight: 100px;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.entertime{
	width: 10%;
	float: left;	
	text-align: center;
	padding: 1.25em 0;
	color: black;
	font-size: 25;
	font-weight: 100px;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.dangerousnumber{
	width: 10%;
	float: left;	
	text-align: center;
	padding: 1.25em 0;
	color: black;
	font-size: 25;
	font-weight: 100px;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.status{
	width: 10%;
	float: left;	
	text-align: center;
	padding: 1.25em 0;
	color: black;
	font-size: 25;
	font-weight: 100px;
	font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.outbutton{
	width: 15%;
	float: left;
}
.enterpart{
	width: 15%;
	float: left;
}
.footer{
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	float: left;
}

.bill{
	margin-right: 0%;
	margin-left: 0%;
    width: 100%;
	float: left;
}
.bill table td{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
